<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Clinic Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Citas">
                @* <img src="\img\interview-icon-calendar-icon-appointment-icon-7HVfD1M8.jpg" alt="Citas" width="50" height="24" style="margin-right: 8px;" />  *@
                Citas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pacientes" Match="NavLinkMatch.All">
                @* <img src="\img\user.png" alt="Pacientes" width="30" height="30" style="margin-right: 8px;" />  *@
                Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Empleados">
                @* <img src="\img\employee.png" alt="Empleados" width="27" height="27" style="margin-right: 8px;" />  *@
                Empleados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportes">
                @* <img src="\img\report.png" alt="Empleados" width="30" height="30" style="margin-right: 8px;" />  *@
                Reportes
            </NavLink>
        </div>
    </nav>
</div>
